<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <!-- // TODO fix logo -->
            <!-- <li><a class="brand-image"><img class="brand-image" src="../img/logo_v2.png" height="42" width="42"/></a></li> -->
            <a class="navbar-brand page-scroll" href="/index">Moodify</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
