body {
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}


div.headerContainer {
  width: 100%;
  min-height: 5vh;
  padding: 0;
  margin: 0;
  background-color: grey;
}

div.headerContainer ul {
  min-height: 5vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.headerContainer li a {
  margin: 0;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.headerContainer li a.active {
  background-color: black;
  color: white;
}

div.headerContainer li a:hover:not(.active) {
  background-color: black;
  color: white;
}



div.bodyContainer {
  margin: 0;
  padding-top: 5vh;
  min-height: 90vh;
  background-color: powderblue;
}

div.bodyContainer div.actionText {
  padding-top: 10vh;
  color: #F92A2D;
  text-align: center;
  font-family: "Courier New", "Times";
}

div.bodyContainer div.actionText a {
  color: #F92A2D;
  text-decoration: none;
  display: block;
  background-color: blue;
  padding: 1vw;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-weight: bold;
}

.barChartH div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

div.pieChart {
  background-color: white;
  width: 500px;
  border-radius: 20px;
}

.arc path {
  stroke: #fff;
}



div.footerContainer {
  width: 100%;
  background-color: black;
  min-height: 5vh;
  color: white;
}