<section id="analytics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Analytics</h1>
                <hr class="dark">
                <p>Analytics info</p>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="analytics-content">
            <p>Content</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="btn-group text-center col">
            <button class="btn">Acousticness</button>
            <button class="btn">Danceability</button>
            <button class="btn">Energy</button>
            <button class="btn">Instrumentalness</button>
            <button class="btn">Liveness</button>
            <button class="btn">Speechiness</button>
            <button class="btn">Tempo</button>
            <button class="btn">Valence</button>
        </div>
    </div>
</div>
</section>