<section id="analytics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Analytics</h2>
                <p>Your analytics</p>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="btn-group btn-block text-center dashboard-dropdown">
            <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">
                Select <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-center" role="menu">
                <li><a onclick="">Songs</a></li>
                <li class="divider"></li>
                <li><a onclick="">Days</a></li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="contianer-fluid">
        <div class="row">
            <div class="analytics-content">
                <p>Content</p>
            </div>
        </div>
        <div class="row">
            <div class="btn-group">
                button*
            </div>
        </div>
    </div>
</section>
