<section class="background-primary" id="history">
    <div class="container-fluid">
        <!-- The header. -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">History</h1>
                <hr class="light">
                <p>Song History</p>
            </div>
        </div>
    
        <!-- The dropdown menu. --> 
        <div class="row text-center">
            <div class="btn-group dashboard-dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="historySelector">
                    Choose list of songs <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-center" role="menu">
                    <li><a onclick="toggleHistory('history')">History</a></li>
                    <li class="divider"></li>
                    <li><a onclick="toggleHistory('favourites')">Favourites</a></li>
                </ul>
            </div>
        </div>

        <!-- Body for history display -->
        <div id="historyRow" class="row vertical-align">
            <div class="col -xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="history rec window" id="historyRecWindow"></div>

            </div>
        </div>

        <!-- Body for favourite display -->
        <div id="favRow" class="row vertical-align">
            <div class="col -xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="favRecWindow" id="favRecWindow"></div>

            </div>
        </div>
    </div>
</section>
