<section id="history">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">History</h2>
                <p>Song History</p>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="btn-group btn-block text-center dashboard-dropdown">
            <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">
                Choose your history <span class="caret"></span>
            </button>
                <ul class="dropdown-menu text-center" role="menu">
                    <li><a onclick="toggleHistory()">History</a></li>
                    <li class="divider"></li>
                    <li><a onclick="toggleHistory()">Favourites</a></li>   
                </ul>
            </div>
        </div>
    </div>

    </div>
</section>