<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mood</h2>
                <p>Mood info</p>
                <hr class="light">
            </div>
        </div>

        <div class="row">
            <div class="btn-group btn-block">
                <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Dealer Tools  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
               <li><a href="#"><span class="glyphicon glyphicon-user"></span> Dealer Area</a></li>
                      <li class="divider"></li>
                       <li><a href="#"><span class="glyphicon glyphicon-phone"></span> App Registration</a></li>   
                </ul>
              </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                chart here
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                explanation here
            </div>
        </div>
    </div>
</section>
