<section class="background-black" id="mood">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Mood</h1>
                <hr class="dark">
                <p>Your spotify listening history is analyzed using advanced artificial intelligence, 
                    which is visualised below.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" id="moodChartSelector" data-toggle="dropdown">
                    Radar Chart 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dashboard-dropdown dropdown-menu-center" role="menu">
                    <li><a onclick="toggleMoodCharts('radarChart')">Radar Chart</a></li>
                    <li><a onclick="toggleMoodCharts('heatmap')">Heatmap</a></li>
                </ul>
            </div>
        </div>

        <div class="row vertical-align" id="radarChartRow">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="radarChart rounded border border-primary" id="radarChart">
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row radarText rounded border border-primary explanation" id="radarText">
                
                </div>
            </div>
        </div>
        <div class="row vertical-align" id="heatmapRow">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="heatmap rounded border border-primary" id="heatmap">
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="heatmapText rounded border border-primary explanation" id="heatmapText">
                
                </div>
            </div>
        </div>

    </div>
</section>
