<style>
div.ex1 {
  width: 310px;
  height: 240px;
  overflow: scroll;
}
</style>

<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Recommendation</h2>
                <p>Song recommendations</p>
                <hr class="light">
            </div>
        </div>

        <div class="row">
            <div class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6" role="group">
                <button type="button" class="btn btn-block btn-primary" data-toggle="dropdown">Mood<span class="caret"></span></button>
                <ul class="dropdown-menu btn-block" role="menu">
                  <li><a href="#">Excited</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Mellow</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Neutral</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sad</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Angry</a></li>
                </ul>
            </div>

            <div class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6" role="group">
                <button type="button" class="btn btn-block btn-primary" data-toggle="dropdown">Event<span class="caret"></span></button>
                <ul class="dropdown-menu btn-block" role="menu">
                    <!-- TODO optioneel leuk plaatje voor vakjes zet voor woord neer. -->
                    <!-- <span class="glyphicon glyphicon-phone"></span> -->
                  <li><a href="#">Party</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Karaoke</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Study</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
             <!-- ex1 col-xs-6 col-sm-3 col-md-3 col-lg-3 -->
            <div class="btn-block text-center ex1 col">
                <iframe src="https://open.spotify.com/embed/track/2kulOHR2XY6YDZCWXb38hn" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <br>
                <iframe src="https://open.spotify.com/embed/track/3S2R0EVwBSAVMd5UMgKTL0" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <br>
                <iframe src="https://open.spotify.com/embed/track/5ChkMS8OtdzJeqyybCc9R5" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <br>
                <iframe src="https://open.spotify.com/embed/track/2kulOHR2XY6YDZCWXb38hn" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <br>
                <iframe src="https://open.spotify.com/embed/track/3S2R0EVwBSAVMd5UMgKTL0" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</section>
