<section class="background-white" id="recommendation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Recommendations</h1>
                <p>Song recommendations are based your personal average mood along with your desired mood and theme</p></p>
                <hr class="light">
            </div>
        </div>

        <div class="row">
            <div class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-block btn-dark dropdown-toggle btn-padding" data-toggle="dropdown">Mood <span class="caret"></span></button>
                <ul class="dropdown-menu btn-block" role="menu">
                  <li><a onclick="toggleMetric('excited')">Excited</a></li>
                  <li class="divider"></li>
                  <li><a onclick="toggleMetric('mellow')">Mellow</a></li>
                  <li class="divider"></li>
                  <li><a onclick="toggleMetric('neutral')">Neutral</a></li>
                  <li class="divider"></li>
                  <li><a onclick="toggleMetric('sad')">Sad</a></li>
                  <li class="divider"></li>
                  <li><a onclick="toggleMetric('angry')">Angry</a></li>
                </ul>
            </div>

            <div class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6" role="group">
                <button type="button" class="btn btn-block btn-dark dropdown-toggle btn-padding" data-toggle="dropdown">Theme <span class="caret"></span></button>
                <ul class="dropdown-menu btn-block" role="menu">
                  <li><a onclick="toggleMetric('dance')">Party</a></li>
                  <li class="divider"></li> 
                  <li><a onclick="toggleMetric('karaoke')">Karaoke</a></li>
                  <li class="divider"></li>
                  <li><a onclick="toggleMetric('study')">Study</a></li>
                </ul>
            </div>
        </div>

        <div id="Song-Metric-Recommendation" class="row rounded-edges">
            <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <div id="rec0" class="row">
                </div>
                <div id="rec1" class="row">
                </div>
                <div id="rec2" class="row">
                </div>
                <div id="rec3" class="row">
                </div>
                <div id="rec4" class="row">
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

<!-- <script>
    createSongRecommendationElement("Song-Metric-Recommendation");
    MakeNewSongMetricRec("songMetricRecPlayer", "neutral");
</script> -->