<section class="background-white" id="recommendation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Recommendations</h1>
                <p>Song recommendations are based your personal average mood along with your desired mood and theme</p></p>
                <hr class="light">
            </div>
        </div>

        <div class="row">
            <div class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-block btn-dark dropdown-toggle" data-toggle="dropdown">Mood<span class="caret"></span></button>
                <ul class="dropdown-menu btn-block" role="menu">
                  <li><a href="#">Excited</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Mellow</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Neutral</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sad</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Angry</a></li>
                </ul>
            </div>

            <div class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6" role="group">
                <button type="button" class="btn btn-block btn-dark dropdown-toggle" data-toggle="dropdown">Theme<span class="caret"></span></button>
                <ul class="dropdown-menu btn-block" role="menu">
                  <li><a href="#">Party</a></li>
                  <li class="divider"></li> 
                  <li><a href="#">Karaoke</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Study</a></li>
                </ul>
            </div>
        </div>

        <div id="Song-Metric-Recommendation" class="row rounded-edges">
            <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <div class="row">
                    <iframe class="song-template" src="https://open.spotify.com/embed/track/2kulOHR2XY6YDZCWXb38hn" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="row">
                    <iframe class="song-template" src="https://open.spotify.com/embed/track/3S2R0EVwBSAVMd5UMgKTL0" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="row">
                    <iframe class="song-template" src="https://open.spotify.com/embed/track/5ChkMS8OtdzJeqyybCc9R5" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="row">
                    <iframe class="song-template" src="https://open.spotify.com/embed/track/2kulOHR2XY6YDZCWXb38hn" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="row">
                    <iframe class="song-template" src="https://open.spotify.com/embed/track/3S2R0EVwBSAVMd5UMgKTL0" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

<!-- <script>
    createSongRecommendationElement("Song-Metric-Recommendation");
    MakeNewSongMetricRec("songMetricRecPlayer", "neutral");
</script> -->