<!-- D3 -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Mood scripts -->
<script src="js/dashboard/mood/radarChart.js"></script>
<script src="js/dashboard/mood/chartText.js"></script>
<script src="js/dashboard/mood/loadRadar.js"></script>
<script src="js/dashboard/mood/heatmap.js"></script>
<script src="js/dashboard/mood/loadCharts.js"></script>

<!-- History scripts -->
<script src="js/dashboard/history/loadHistory.js"></script>

<!-- Analytics scripts -->
<script src="js/dashboard/analytics/linechartDays.js"></script>
<script src="js/dashboard/analytics/linechartSongs.js"></script>
<script src="js/dashboard/analytics/loadLineCharts.js"></script>

<!-- Song recommendation scripts -->
<script src="js/dashboard/recommendation/songrecommendation.js"></script>
<script src="js/dashboard/recommendation/songMetricRecommendation.js"></script>
script>
