<!-- D3 -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Mood scripts -->
<script type="text/javascript" src="js/dashboard/mood/radarChart.js"></script>
<script type="text/javascript" src="js/dashboard/mood/chartText.js"></script>
<script type="text/javascript" src="js/dashboard/mood/loadRadar.js"></script>
<script type="text/javascript" src="js/dashboard/mood/heatmap.js"></script>
<script type="text/javascript" src="js/dashboard/mood/loadCharts.js"></script>

<!-- History scripts -->
<!-- <script type="text/javascript" src="js/dashboard/history/loadHistory.js"></script> -->
<script type="text/javascript" src="js/dashboard/mood/history.js"></script>
<script type="text/javascript" src="js/dashboard/mood/userfeedback.js"></script>


<!-- Analytics scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js" integrity="sha256-WzyQA5KtHvGY2wDq2tVFehwI8SnSjpoUahzv9QEPDCU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/dashboard/analytics/userinput.js"></script>
<script type="text/javascript" src="js/dashboard/analytics/linechartDays.js"></script>
<script type="text/javascript" src="js/dashboard/analytics/linechartSongs.js"></script>
<script type="text/javascript" src="js/dashboard/analytics/loadLineCharts.js"></script>


<!-- Song recommendation scripts -->
<script type="text/javascript" src="js/dashboard/recommendation/songrecommendation.js"></script>
<script type="text/javascript" src="js/dashboard/recommendation/songMetricRecommendation.js"></script>
