<script type="text/javascript" src="js/dashboard/mood/heatmap.js"></script>
<script type="text/javascript" src="js/dashboard/mood/radarChart.js"></script>
<script type="text/javascript" src="js/dashboard/mood/chartText.js"></script>
<script type="text/javascript" src="js/dashboard/mood/loadRadar.js"></script>
<script type="text/javascript" src="js/dashboard/mood/loadCharts.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/dashboard/mood/userfeedback.js"></script>
<script type="text/javascript" src="js/dashboard/analytics/linechartDays.js"></script>
<script type="text/javascript" src="js/dashboard/analytics/linechartSongs.js"></script>
<script type="text/javascript" src="js/dashboard/analytics/loadLineCharts.js"></script>
<script type="text/javascript" src="js/dashboard/mood/history.js"></script>
