<!-- jQuery -->
<script type="text/javascript" src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.fittext.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="js/creative.js"></script>

<!-- Used in history.html -->
<script type="text/javascript" src="js/history.js"></script>
