.dashboard-dropdown ul button {
    width: 30%;
}

.dashboard-dropdown li {
    text-align: center;   
}

.dashboard-dropdown a:hover {
    cursor: pointer;
}

.vcenter {
    display: flex;
    align-items: center;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }

#mood {
    background-color: black;
    color: white;
}

div[class^="col"] {
    padding-top: 15px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2); */
}
