<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Take a closer look at yourself</h2>
                <hr class="light">
                <p class="text-faded">
                    Moodify is a brand new innovative application which takes you on a journey through your Spotify history. 
                    At the start of this journey, advanced artificial intelligence is employed to analyse your personal Spotify usage. 
                    Moodify then displays interesting insights of your behaviour and mood through intuitive and completely customizable interfaces. 
                    In these interfaces, you can evaluate mood patterns over time and view statistics about the songs you listen to. On top of this, Moodify features tailor-made song recommendations based on your current or desired mood. 
                    To strengthen the connection between you and Moodify, the application allows you to optimize their personal mood analyses by using a feedback interface that specifies how a given song makes them feel.
                </p>
                <a href="/login" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
