<section class="primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-lg-2 text-center">
                     <h2 class="section-heading text-light">Take a closer look at yourself</h2>
                    <hr class="light">
                    <p class="text-faded ">Your spotify usage is analyzed using artificial intelligence, which results
                        in moods for a given song, your personal moodpatterns and other meaningful
                        statistics. This info is then utilised to profide you with a song recommendation
                        service like never seen before.</p> <a href="/login" class="btn btn-secondary btn-xl bg-light text-dark">Get Started!</a>
                </div>
            </div>
        </div>
    </section>