<section id="contact" class="background-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's get in touch!</h2>
                <hr class="primary">
                <p>Check out the following links to further discover the wonders of this open source project or contact customer service with any complaints, suggestions or compliments.</p>
            </div>

        <div class="col-lg-2 col-lg-offset-3 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 text-center img img-fluid" max-height=auto max-width=20px>
            <a href="mailto:{{ site.email }}">
                <img class="img wow bounceIn" data-wow-delay=".1s"src=../../img/envelope.png height=50% width=50%>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 text-center img img-fluid">
            <a href="https://github.com/high-mood" target="_blank">
                <img class="img wow bounceIn" data-wow-delay=".1s" src="../../img/github.svg" height=50% width=50%>
            </a>
        </div>
    </div>
</section>
