<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's get in touch!</h2>
                <hr class="primary">
                <p>Check out the following links to further discover the wonders of this open source project or contact customer service with any complaints, suggestions or compliments.</p>
            </div>

        <div class="col-lg-2 col-lg-offset-3 text-center img" height=42% width=42%>
            <a href="mailto:{{ site.email }}">
                <img class="img-fluid wow bounceIn" data-wow-delay=".1s"src=../../img/envelope.png height=20% width=20%>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center img" height=42% width=42%>
            <a href="https://github.com/high-mood" target="_blank">
                <img class="img-fluid wow bounceIn" data-wow-delay=".1s" src="../../img/github.svg" height=42% width=42%>
            </a>
        </div>
    </div>
</section>
