<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Spotify usage analysed and visualised</h1>
            <hr>
            <p>
                Start by securely login into Spotify and giving us some permission to analyze Spotify's data about you, using artificial intelligence.
                This will result in a completely personalised webpage featuring interesting statistics about you and services tailered to you've like never seen before.
            </p>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2 text-center">
                    <a href="/login" class="btn btn-primary btn-xl">Get Started!</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</header>
