<nav id="mainNav" class="navbar navbar-default fixed-top navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- //
            TODO fix logo -->
            <!-- <li><a class="brand-image"><img class="brand-image" src="../img/logo_v2.png" height="42" width="42"/></a></li> --> 
            <a class="navbar-brandname page-scroll" href="#page-top">Moodify</a>
        </div>


        <!-- Dashboard quick button - to be removed. -->
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav navbar-nav nav-link" href="dashboard">Dashboard shortcut - shhhhhhhhhh its a hack :)</a>
            </li>
        </ul>
        <!-- Div for the toggle button -->
        <div class="ml-auto">
                <button type="button" class="navbar-toggler collapsed align-right" data-toggle="collapse"
                data-target="#navbar-collapse1"> <span class="sr-only">Toggle navigation</span>&#x2630;
                </button>
        </div>
        <!-- Div for the content to be dropped when the button is toggled -->
        <div class="collapse navbar-collapse mr-auto" id="navbar-collapse1">
            <ul class="nav navbar-nav">
                <li class="nav-item"> <a class="page-scroll nav-link" href="#about">About</a>
                </li>
                <li class="nav-item"> <a class="page-scroll nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
        <!-- /.container-fluid -->
</nav>