#song_history {
   overflow-y: auto;
   height: 400px;
}

.feedback-slider {
   -webkit-appearance: slider-vertical; /* Chrome */
   user-select: none; /* supported by Chrome and Opera  */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.feedback-slider {
    -webkit-appearance: slider-vertical; /* Chrome */
    user-select: none; /* supported by Chrome and Opera  */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.songdiv {
    /* border: 2px solid black; */
    height: 80px;
    width: 380px;
    /* padding: 20px; */
}

.songdiv-right {
    /* border: 2px solid black; */
    height: 120px;
    /* float: right; */
    /* padding: 20px; */
}

.SongRecButton{
    height: 80px;
    width: 80px;
    float: left;
    background-color: black;
    color: white;
}

.songinfotool{
    height: 400px;
}
